/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
/* Colors */
* {
  font-family: "Red Hat Display", sans-serif;
}
* p {
  font-size: 16px;
}

body {
  height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-color: hsl(225, 100%, 94%);
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 40%;
}
main section .main-container {
  margin: 0;
  padding: 0;
  width: fit-content;
  max-width: 400px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
main section .main-container .card-body {
  padding: 10%;
  color: hsl(224, 23%, 55%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main section .main-container .card-body .card-title {
  font-weight: 700;
  font-size: 1.8rem;
  color: hsl(223, 47%, 23%);
}
main section .main-container .card-body .plan-info {
  border-radius: 20px;
  background: hsl(225, 100%, 98%);
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
main section .main-container .card-body .plan-info .plan-description p {
  margin: 0;
  margin-right: 40px;
  padding: 0;
}
main section .main-container .card-body .plan-info .plan-description .plan-type {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}
main section .main-container .card-body .plan-info .plan-change-link {
  font-weight: 700;
  color: hsl(245, 75%, 52%);
}
main section .main-container .card-body .plan-info .plan-change-link:hover, main section .main-container .card-body .plan-info .plan-change-link:active {
  color: hsla(245, 75%, 52%, 0.7);
  cursor: pointer;
}
main section .main-container .card-body .btn-proceed {
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 94%);
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  font-weight: 700;
  margin-bottom: 20px;
  border: none;
}
main section .main-container .card-body .btn-proceed:hover, main section .main-container .card-body .btn-proceed:active {
  background-color: hsla(245, 75%, 52%, 0.7);
  cursor: pointer;
}
main section .main-container .card-body .btn-cancel {
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  border: none;
  width: 100%;
  padding: 10px;
  font-weight: 700;
}
main section .main-container .card-body .btn-cancel:hover, main section .main-container .card-body .btn-cancel:active {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  main {
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 40%;
  }
  main section {
    margin: 20px;
  }
  main section .main-container {
    padding: 10px;
  }
  main section .main-container .card-body {
    padding: 5% !important;
  }
  main section .main-container .card-body .plan-info {
    padding: 10px !important;
  }
  main section .plan-change-link {
    font-size: 12px;
  }
  main section .btn-proceed,
  main section .btn-cancel {
    font-size: 12px;
  }
}
@media only screen and (max-width: 320px) {
  main {
    background-image: url("../images/pattern-background-mobile.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 40%;
  }
  main section {
    margin: 20px;
  }
  main section .main-container {
    padding: 10px;
  }
  main section .main-container .card-body {
    padding: 5% !important;
  }
  main section .main-container .card-body .plan-info {
    padding: 10px !important;
  }
  main section .plan-change-link {
    font-size: 12px;
  }
  main section .btn-proceed,
  main section .btn-cancel {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
